[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pylint = "*"
black = "*"

[packages]
gunicorn = "*"
flask = "*"
redis = "*"
sec = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
